* {
    list-style: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    z-index: 1;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
}



.clear {
    clear: both!important;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}



/* simple-form */
.b-form {
    width: 400px;
    margin: 50px auto 0 auto;
}


.b-item {
    width: 350px;
    padding: 0 0 10px 0;
}
.b-label {
    width: 140px;
    text-align: right;
    float: left;
}
.b-input {
    width: 200px;
    float: right;
}


.text {
    width: 200px;
    border: 1px solid #cecece;
}
.checkbox {
    margin: 0 0 0 10px;
}
.submit {
    color: #fff;
    background: #fe5c04;
    padding: 5px 10px;
}
/* end simple-form */